@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: "azonix";
  src: local("Azonix"), url(./assets/Azonix.otf) format("opentype");
}


@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.moving {
  position: relative;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

.img {
  width: 100%;
}

.instance-brand {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

@tailwind utilities;
